libreria2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Libros">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Libro" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Titulo" type="xs:string"/>
        <xs:element name="Autor" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="publicado_en" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
